[Desktop Entry]
Type=Application
Exec=sh -c "sleep 4; goldendict"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=GoldenDict
Name=GoldenDict
Comment[en_US]=
Comment=
