---
- name: Install docker
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    bash -c "$(curl -fsSL https://get.docker.com)"
  args:
    creates: /usr/bin/docker
    executable: /bin/bash
  register: result
  ignore_errors: true
  changed_when: result.rc == 0

- name: Ensure docker-group added user {{ ansible_user_id }}
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true

- name: Install lazydocker
  ansible.builtin.shell: |
    set -o pipefail
    LD_VERSION=$(curl -fsSL "https://api.github.com/repos/jesseduffield/lazydocker/releases/latest" | \grep -Po '"tag_name": *"v\K[^"]*')
    curl -Lo lazydocker.tar.gz "https://github.com/jesseduffield/lazydocker/releases/download/v${LD_VERSION}/lazydocker_${LD_VERSION}_Linux_x86_64.tar.gz"
    tar xf lazydocker.tar.gz lazydocker
    sudo install lazydocker /usr/local/bin
    rm lazydocker.tar.gz lazydocker
  args:
    creates: /usr/local/bin/lazydocker
    executable: /bin/bash
  register: result
  ignore_errors: true
  changed_when: result.rc == 0

- name: Disable docker on boot (but not on socket) to save battery
  become: true
  ansible.builtin.systemd:
    name: docker
    enabled: false
