---
- name: Install extensions
  ansible.builtin.shell: |
    set -o pipefail
    {{ ansible_user_dir }}/.local/bin/gext --filesystem install {{ item }}
  args:
    creates: "{{ ansible_user_dir }}/.local/share/gnome-shell/extensions/{{ item }}"
    executable: /bin/bash
  register: result
  ignore_errors: true
  changed_when: result.rc == 0
  loop: "{{ gnome_extensions }}"

- name: Compile schemas
  ansible.builtin.shell: |
    set -o pipefail
    glib-compile-schemas {{ ansible_user_dir }}/.local/share/gnome-shell/extensions/{{ item }}/schemas/
  args:
    creates: "{{ ansible_user_dir }}/.local/share/gnome-shell/extensions/{{ item }}/schemas/gschemas.compiled"
    executable: /bin/bash
  register: result
  ignore_errors: true
  changed_when: result.rc == 0
  loop: "{{ gnome_extensions }}"

- name: Enable extensions
  ansible.builtin.shell: |
    set -o pipefail
    {{ ansible_user_dir }}/.local/bin/gext enable {{ item }}
  args:
    executable: /bin/bash
  register: result
  ignore_errors: true
  changed_when: result.rc == 0
  loop: "{{ gnome_extensions }}"

- name: Ensure having config directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/gnome"
    state: directory
    mode: "0755"

- name: Check if extensions.ini exists
  ansible.builtin.stat:
    path: "{{ ansible_user_dir }}/.config/gnome/extensions.ini"
  register: extensions_ini

- name: Load extension settings
  ansible.builtin.shell: |
    # dconf dump /org/gnome/shell/extensions/ > {{ ansible_user_dir }}/.config/gnome/extensions.ini
    dconf load /org/gnome/shell/extensions/ < {{ ansible_user_dir }}/.config/gnome/extensions.ini
  when: extensions_ini.stat.exists
  register: result
  ignore_errors: true
  changed_when: result.rc == 0
